:root {
  --dice-text-color: #2b283a;
}

.dice {
  background-color: #ffffff;
  border-radius: 0.4rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms ease;
}

.diceActive {
  background-color: #59e391;
}

.diceText {
  color: var(--dice-text-color);
  font-size: 2rem;
}
